/* Sets the body's font size and background color. */
body {
    font-size: 16px;
    background-color: whitesmoke;
}

/* Adds space between h1 and nav list  */
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #28464B;
    padding: 2em 0em 2em 0em;
    line-height: 5em;
    min-width: fit-content;
}

/* Styling for my name, setting font size, color, 
background color, and giving a border radius to
curve top and bottom right edges. */
h1 {
    color: #28464B;
    font-size: 2em;
    background-color: #42D9C8;
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    text-align: center;
    padding: 0em 1em 0em 2em;
}

/* Used for titles preceding the content within the aside section */
h2 {
    font-size: 2em;
    color:#28464B;
    padding: 0em 1em 0em 1em;
    border-right: #28464B solid 5px;
    width: 9em;
    min-width: 9em;
    height: auto;
    margin: 0em 1.5em 2em 1.5em;
    text-align: right;
}

/* Styles the h3 tags that I used for the text within the boxes
that appear over the clickable images. */
h3 {
    text-align:center;
    margin: 5px;
    line-height: 1.2em;
    font-size: 1.5em;
}

/* Styles the h4 tags that I used for the text within the boxes
that appear over the clickable images. */
h4 {
    text-align: center;
    font-size: 1em;
}

/* Used to push page content in */
aside {
    /* margin: 1em 2em 2em 1em; */
    margin: 1vh 2vh 2vh 1vh;
}

/* Setting some styling ground rules for p tags found within 
the page. */
p {
    margin-left: 1em;
    line-height: 1.5em;
}

/* Adds space between list items */
.nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Used to add some space between nav items */
.list li {
    margin-right: 2em;
}

/* Sets the color of my nav links */
a {
    color: #42D9C8;
}

/* Used to create style the welcome to my site banner
over the background image of the parent section */
.hero p {
    bottom: 20%;
    left: 60%;
    font-size: 1.8em;
    text-align: center;
    width: 33vw;
    height: fit-content;
    position: absolute;
    background-color: #42D9C8;
    border-radius: 1em;
}

/* Sets the section to display the background image
and some styling to fit it on page. */
.hero {
    position: relative;
    width: 100%;
    height: 20em;
    background-image: url("./images/background1.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* styling for the image of me */
.portrait {
    position: relative;
    top: 2.3em;
    left: 1em;
    border: #28464B groove 10px;
    width: 14em;
    height: auto;
}

/* styling for the aside section that I meant to originally name
the main section. */
.aside {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

/* Sets display to flex for the sections within the aside,
moving the sections to the side of the aside */
.aside section {
    display: flex;
    margin-bottom: 2em;
}

/* Tells the image of my first project to take up all the space available */
.project {
    width: 100%;
    height: auto;
}

/* Tells the coming soon images to take up all available space. */
.coming-soon {
    width: 100%;
    height: auto;
}

/* Used as a container for my project images */
.flexbox {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

/* adds a margin to the flexbox container of the project images 
and tells the container to grow to fill available space */
div.flexbox {
    margin: 0 10px 0 10px;
    flex-grow: 1;
    /* width: 66%; */
    /* width: 64%; */
}

/* Assigns a relative position for the text boxes and caps the
width of the coming soon images to only take up 46% of available space.
Thus allowing my first project image to display a larger size. */
div.work {
    position: relative;
    width: 46%;
    flex-grow: 1;
}


.flexbox div {
    line-height: 0;
    margin: .3em;
    border: #42D9C8 solid 5px;
}

ul.contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
}

ul.contact li {
    margin: 0em 3em 3em 3em;
    text-align: center;
    border-bottom: #28464B solid 5px;
    line-height: 3em;
}

.contact a {
    color: #28464B;
    text-decoration: none;
}

.text-container {
    position: relative;
}

.text-container:hover{
    box-shadow: inset 0px 0px 8px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0)
}

.work:hover {
    box-shadow: inset 0px 0px 8px rgb(255, 0, 0), 0 0 15px rgb(255, 0, 0);
}

.text-box {
    width: 20%;
    height: 20%;
    left: -.5em;
    bottom: 50%;
    position: absolute;
    background-color: #42D9C8;
    color: #28464B;
}

.work p {
    position: absolute;
    bottom: 40%;
    margin-left: 0;
    padding: 1vh;
    width: fit-content;
    height: auto;
    background-color:#42D9C8;
}

@media screen and (max-width: 1070px) {
    h3 {
        font-size: x-small;
    }
    h4 {
        /* text-align: center; */
        font-size: xx-small;
    }
    .flexbox div {
        line-height: 0;
    }
}

@media screen and (max-width: 767px) {
    h2 {
        font-size: 1.5em;
        align-self: center;
        text-align: center;
        border-style: none;
        border-bottom: black solid 5px;
    }
    h3,
    h4,
    .text-box {
        display: none;
    }
    p {
        margin: 0 1em 0 1em;
    }
    .work p, .hero p {
        display: none;
    }
    aside {
        margin: 0 0 1em 0;
    }
    .flexbox div {
        flex-grow:1;
    }
    .aside section {
        align-items: center;
        margin-bottom: 2em;
        flex-direction: column;
        flex-wrap: wrap;
    }
}